{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>
        <!--Nav bar-->
    <nav class="navbar navbar-expand-lg bg-warning navbar-dark py-3">
        <div class="container-fluid">
            <a href="{% url 'homepage' %}" class="navbar-brand text-dark" >UWM Clubs and Events </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
            >
            <span class = "navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-flex align-items-center">
                        <span class="me-2">👤</span>
                        <a href="#" class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'viewaccount' %}">View Account</a></li>
                            <li><a class="dropdown-item" href="#Settings">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="padding: 2%;">
        <form method="post" method="{% url 'createevent' %}">
            {% csrf_token %}

            <div class="container">
                <div class="elements">
                    <label for="name">Event Name: </label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="elements">
                    <label for="organization">Organization Hosting: </label>
                    <input type="text" id="name" name="organization">
                </div>
                <div class="elements">
                    <label for="location">Location: </label>
                    <input type="text" id="location" name="location">
                </div>
                <div class="elements">
                    <label for="time-happening">When is this event? </label>
                    <input type="datetime-local" id="time-happening" name="time-happening">
                </div>
                <div class="elements">
                    <label for="description">Event Description: </label>
                    <input type="text" id="description" name="description">
                </div>
            </div>
            <div style="padding:2%">
                <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock %}