{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>

    <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
$(document).ready(function() {
    // Get the interests elements
    var interests = document.querySelectorAll('input[name="selected_interests"]');

    // Get the search input element
    var searchInput = document.getElementById('search-input');


    searchInput.addEventListener('input', function() {
        var searchValue = searchInput.value.toLowerCase();

        interests.forEach(function(interest) {
            var interestTag = interest.value.toLowerCase();
            var parentRow = interest.closest('tr');

            if (interestTag.includes(searchValue)) {
                parentRow.style.display = '';
            } else {
                parentRow.style.display = 'none';
            }
        });
    });
});
</script>
</head>
<body>
<h1>Create Account</h1>
    <a href="{% url 'login' %}">
        <button class="backbutton">Back</button>
    </a>
<div class="center">
    {{ message }}
    <form action="{% url 'createaccount' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstname"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastname"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password"/></td>
            </tr>
                  <td colspan="2">
                <table>
                    <thead>
                        <tr>
                            <th>Major</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="majorlist" id="major-drop" multiple>
                            {% for major in majors %}
                                <option value="{{ major.department }}">{{ major.name }}</option>
                            {% endfor %}
                            </select>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
            <!-- Table to display interests -->
            <tr>
                <td colspan="2">
                    <!-- Table to display interests -->
                    <table>
                        <thead>
                            <tr>
                                <th>Interests</th>
                            </tr>
                        </thead>
                        <div class="search-container">
                            <input type="text" id="search-input" placeholder="Search for interests">
                            <div class="dropdown-content">
                                <table>
                                    <tbody id="interests-table">
                                        {% for interest in interests %}
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" name="selected_interests" value="{{ interest.tag }}">
                                                        {{ interest.tag }}
                                                    </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </table>
                </td>
            </tr>
        </table>
        <input name="submit-search" class="goldbutton" type="submit"/>
    </form>
</div>
</body>
</html>