{% extends "base.html" %}
{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Event</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script>
            async function finishCity() {
                const city_name = document.getElementById('loc_city').value.toString();
                const api_url = `https://api.teleport.org/api/cities/?search=${city_name}`;
                const headers = {
                    'Accept': 'application/vnd.teleport.v1+json'
                };
                try {
                    const response = await fetch(api_url, {
                        method: 'GET',
                        headers: headers
                    });
                    if (response.ok) {
                        const json_data = await response.json();
                        const matchingCities = json_data?._embedded?.["city:search-results"]?.map(result => result.matching_full_name);
                        updateMatchingCities(matchingCities);
                    } else {
                        throw new Error(`HTTP request failed with status ${response.status}`);
                    }

                } catch (error) {
                    console.error('Error with request:', error);
                }
            }

            function updateMatchingCities(cities) {
                const matchingCitiesDropdown = document.getElementById('matching_cities');
                matchingCitiesDropdown.innerHTML = ''; // Clear previous results

                cities.forEach(city => {
                    const option = document.createElement('option');
                    option.value = city;
                    option.text = city;
                    matchingCitiesDropdown.add(option);
                });
            }

            function handleInput() {
                finishCity();
                document.getElementById('matching_cities').addEventListener('change', updateInputField);
            }

            function updateInputField() {
                const selectedCity = document.getElementById('matching_cities').value;
                document.getElementById('loc_city').value = selectedCity;
            }
        </script>
        <style>
            .rounded-input {
                border-radius: 20px; /* Adjust the border radius as needed */
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-warning navbar-dark fixed-top py-3">
        <div class="container-fluid">
            <a href="{% url 'homepage' %}" class="navbar-brand text-dark">UWM Clubs and Events </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navmenu"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-flex align-items-center">
                        <span class="me-2">👤</span>
                        <a href="#" class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user.name }}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'viewaccount' %}">View Account</a></li>
                            <li><a class="dropdown-item" href="#Settings">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page_container">
        <div class="container mt-5" style="padding-top: 60px; overflow: hidden;">
          <div class="row justify-content-center">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="container">
                        <h1>Create Event</h1>
                        <form method="post" action="{% url 'createevent' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="elements">
                                <label for="name">Event Name:</label>
                                <input type="text" class="form-control" id="name" name="name" value={{ name }}>
                            </div>
                            <div style="padding-left: 2%; padding-top:2%;">
                                <em>
                                    <p style="color: red;">
                                        {% if error_message %}
                                            {{ error_message }}
                                        {% endif %}
                                    </p>
                                    <p style="color: green;">
                                        {% if success_message %}
                                            {{ success_message }}
                                        {% endif %}
                                    </p>
                                </em>
                            </div>
                            <div class="form-group mb-2">
                                <label for="org">Organizations</label>
                                <select name="org" id="org" class="form-control">
                                    <option value="">--- Select an Organization ---</option>
                                    {% for i in orgs %}
                                        <option value="{{ i.name }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="elements">
                                <label for="location">Location:</label>

                                <div>
                                    <label for="loc_addr">Address:</label>
                                    <input type="text" class="form-control" id="loc_addr" name="loc_addr" value="{{ loc_addr }}">
                                </div>

                                <div>
                                    <label for="loc_city">Enter City Name:</label>
                                    <input type="text" class="form-control" id="loc_city" name="loc_city" oninput="handleInput()">
                                    <select id="matching_cities" class="form-control"></select>
                                </div>

                                <div>
                                    <label for="loc_zip">Zip Code:</label>
                                    <input type="text" class="form-control" id="loc_zip" name="loc_zip" value="{{ loc_zip }}">
                                </div>
                            </div>

                            <div class="elements">
                                <label for="time-happening">When is this event?</label>
                                <input type="datetime-local" class="form-control" id="time-happening" name="time-happening" value="{{ time }}">
                            </div>

                            <div class="elements">
                                <label for="description">Event Description:</label>
                                <input type="text" class="form-control" id="description" name="description" value="{{ description }}">
                            </div>

                            <div class="elements">
                                <label for="photo">Upload an image:</label>
                                <input type="file" class="form-control" id="photo" name="photo">
                            </div>

                            <div class="form-group mb-2">
                                <label for="search-input">Interests</label>
                                <input type="text" class="form-control rounded-input" id="search-input"
                                    placeholder="Search for interests">
                            </div>

                            <div class="form-check" style="overflow-y: auto; height: 150px;">
                                <table class="table table-sm">
                                    <tbody id="interests-table">
                                    {% for interest in interests %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="selected_interests"
                                                        value="{{ interest.tag }}" id="{{ interest.tag }}">
                                                    <label class="form-check-label" for="{{ interest.tag }}">
                                                        {{ interest.tag }}
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div style="padding: 2%;">
                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>

{% endblock %}
