{%  extends "base.html" %}
{%  load static %}
{%  block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .rounded-input {
            border-radius: 20px; /* Adjust the border radius as needed */
        }
    </style>
</head>
<body>
        <!--Nav bar-->
    <nav class="navbar navbar-expand-lg bg-warning navbar-dark py-3">
        <div class="container-fluid">
            <a href="{% url 'homepage' %}" class="navbar-brand text-dark" >UWM Clubs and Events </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
            >
            <span class = "navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-flex align-items-center">
                        <span class="me-2">👤</span>
                        <a href="#" class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'viewaccount' %}">View Account</a></li>
                            <li><a class="dropdown-item" href="#Settings">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Create Organization</h1>
    <form method="post" action="{% url 'createorganization' %}">
        {%  csrf_token %}

        <div class="form-group">
            <label for="name">Organization Name: </label>
            <input type="text" class="form-control rounded-input" id= "name" name="name">
        </div>
        <div class="form-group">
            <label for="point_of_contact">Organization's Point of Contact: </label>
            <input type="email" class="form-control rounded-input" id="point_of_contact" name="point_of_contact">
        </div>
        <div class="form-group">
            <label for="member_count">Number of Members: </label>
            <input type="number" class="form-control rounder-input" id="member_count" name="member_count" min="1">
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <input type="text" class="form-control rounded-input" id="description" name="description">
        </div>
        <div style="padding:2%">
            <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
        </div>
{#        <a class="btn btn-primary" href="{%  url 'homepage' %}" role="button" style="float: left">Home Page</a>#}
        <!---<a href="{% url 'homepage' %}">Main Page</a></br> --->
    </form>
    <p style="padding:1%; color:red"> <em>
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </em>
    </p>
</body>
</html>
{% endblock %}