{% extends "base.html" %}
{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Organization</title>
    </head>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg bg-warning navbar-dark fixed-top py-3">
        <div class="container-fluid">
            <a href="{% url 'homepage' %}" class="navbar-brand text-dark">UWM Clubs and Events </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navmenu"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-flex align-items-center">
                        <span class="me-2">👤</span>
                        <a href="#" class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user.name }}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'viewaccount' %}">View Account</a></li>
                            <li><a class="dropdown-item" href="#Settings">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="padding-top: 80px; padding-left: 2%; padding-right: 2%;">
        <form method="post" action="{% url 'editorganization' %}">
            {% csrf_token %}
            {% for organization in organizations %}
                <div>
                    <label for="password">Change Password: </label>
                    <input type="text" name="password" id="password" value="{{ organization.password }}">
                </div>
                <div>
                    <label for="point_of_contact">Point of Contact: </label>
                    <input type="text" name="point_of_contact" id="point_of_contact"
                           value="{{ organization.point_of_contact }}">
                </div>
                <div>
                    <label for="membersCount">Number of Members: </label>
                    <input type="number" name="membersCount" id="membersCount" value="{{ organization.membersCount }}">
                </div>
                <div>
                    <label for="description">Description: </label>
                    <input type="text" name="description" id="description" value="{{ organization.description }}">
                </div>
                <input type="submit" value="Save Changes">
                </form>
                <hr>

                </div>
            {% endfor %}
    <p style="padding-left: 2%; padding-top: 2%">{{ message }}</p>
    </body>
    </html>
{% endblock %}