{% extends "base.html" %}
{% load static %}
{% block content %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <!--grabs location of address and displays google maps--->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const address = document.getElementById('map');
                address.addEventListener('click', function (button) {
                    button.preventDefault();
                    const loc = address.textContent;
                    const googleMapsUrl = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(loc)}`;
                    window.open(googleMapsUrl, '_blank');
                });
            });
        </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        <title>{{ Event.name }}</title>
    </head>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg bg-warning navbar-dark fixed-top py-3">
        <div class="container-fluid">
            <a href="{% url 'homepage' %}" class="navbar-brand text-dark">UWM Clubs and Events </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.name == Event.organization.name %}
                <button class="nav-item">
                    <a href="{% url 'editevent' Event.name %}" class="nav-link text-dark">Edit Event</a>
                </button>
            {% endif %}
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-flex align-items-center">
                        <span class="me-2">👤</span>
                        <a href="#" class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user.name }}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'viewaccount' %}">View Account</a></li>
                            <li><a class="dropdown-item" href="#Settings">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 80px;">
        <div class="row justify-content-center">
            <div class="card mb-3" style="display: inline-block;">
                {% if Event.image %}
                    <img src="{{ Event.image.url }}" class="card-img-top" alt="{{ i.name }}"
                         style="width: 100%; max-height: 250px; object-fit: cover;">
                {% else %}
                    <img src="{% static 'uwmLogo.jpg' %}" class="card-img-top" alt="{{ i.name }}"
                         style="width: 100%; max-height: 250px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ Event.name }}</h5>
                    <div class="contact-info">
                        <p>Any Issues? Contact: <a
                                href="mailto:{{ Event.organization.point_of_contact }}">{{ Event.organization.point_of_contact }}</a>
                        </p>
                        <p>Organizer: {{ Event.organization.name }}</p>
                    </div>
                    <p><i class="fas fa-clock"></i> Date & Time: <a href="#" id="time">{{ Event.time_happening }}</a>
                    </p>
                    <p><i class="fas fa-map-marker-alt"></i> Location: <a href="#" id="map">{{ Event.location }}</a></p>
                    <p>Description: {{ Event.description }}</p>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}

